<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <!-- This is a wide open CSP declaration. To lock this down for production, see below. -->
    <!--<meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *" />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>




    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>-->

    <link rel="stylesheet" type="text/css" href="css/ghub.css" />

    <title>Github</title>
</head>

<body style="background-image: url('img/KVCbg6light.png')">
<div ng-app="ghubApp">
<div ng-controller="ghubCtrl">


    <div class="container" style="width: 100%; height: 100vh;">
        <!-- search bar container -->
    <div class="container">
        <div class="row">

            <form class="pt-5" style="width: 100%" ng-model="searchForm" ng-submit="submitSearch(companyName)">
                 <div class="form-group row">

                     <div class="col-sm-10">
                        <input id="companyName" ng-model="companyName" class="form-control" name="companyName" type="text" placeholder="Github Repo">
                     </div>
                 </div>
            </form>
        </div>
    </div>
        <!-- search bar container ends -->

   <!-- <p id="loadspinner" class="text-center mx-auto" ng-hide="loaderHide">
        <i class="fa fa-spinner fa-spin" style="font-size:36px; color: white"></i>
    </p>
-->

<!-- Github trending recommendations -->

<div class="mainSect">

<div class="container animate-hide trending-container" ng-repeat="repo in trendingData" ng-hide="trendingHide">
    <a ng-click="submitSearch(repo.repo)">
    <div class="container mt-2 repoContainer">
        <div class="outer-triangle"></div>

            <p class="repoHeader">{{ repo.repo }}</p>
            <p class="repoDescription">{{ repo.description | limitTo: 80 }} <span ng-if="repo.description.length > 80">...</span></p>
            <div class="tags">
                <p class="d-inline" ng-repeat="(key, value) in repo.tags | limitTo: tagLimit">{{ value[0] | limitTo: 15 }} | </p>
                <p class="d-inline"> &#x2606 {{ repo.stars }}</p>
            </div>

        </div>
    </a>
    </div>


<!-- Fusion Charts -->

<div id="chartsdiv" class="pb-5"  style="width:100%">
    <div class="starGrowth Chart mx-auto">

    </div>
    <div class="commit Chart mx-auto">

    </div>
    <div class="totalStars Chart mx-auto">

    </div>
    <div class="Chart contribFoll mx-auto">

    </div>


</div>

</div>
<!--    Commit Chart Starts  -->

<!--<div class="row mx-auto" style="width:100%"><fusioncharts max-height="400" width="80%" type="line" datasource="{{myDataSource}}"></fusioncharts></div>
<div class="row mx-auto"><fusioncharts max-height="400" width="100%" type="line" datasource="{{commit52}}"></fusioncharts></div>-->

        <br>
        <br>
<!--    Container Ends -->
</div>
    </div>


    <!--Navibar starts-->

<div class="row fixed-bottom justify-content-center" id="navrow">
    <ul class="nav">

  <li class="nav-item ">
    <a class="nav-link active" href="index.html"><img style="max-width: 80%; max-height: 80% " src="img/greyTargetIcon.png"></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="Ghub.html"><img style="max-width: 80%; max-height: 80%" src="img/github-icon-grey.png"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="Headline.html"><img style="max-height: 80%; max-width: 80%" src="img/grey-newspaper-icon.png"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="SummaryEngine.html"><img style="max-height: 80%; max-width: 80%" src="img/cloud%20icon%20grey.png"></a>
  </li>
</ul>

</div>
    </div>

<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/ghub.js"></script>
 <!--   <script type="text/javascript">
        app.initialize();
    </script>-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="js/bower_components/fusioncharts/fusioncharts.js"></script>
    <script src="js/angular-fusioncharts.min.js"></script>
    </body>
</html>